# ==============================
# Client (Vite / React)
# ==============================
VITE_BACKEND_URL=http://127.0.0.1:5000

# ==============================
# Server (Flask)
# ==============================
GOOGLE_API_KEY=your_google_api_key_here
SERPAPI_API_KEY=your_serpapi_api_key_here
